.header{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-content{
    width: 90%;
    height: 100%;
    background-color: #fbf5f5;
    box-shadow: inset 2px 2px 19px 13px  white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-img{
    /* border: 2px solid rgb(81, 117, 164); */
    width: 64px;
    height: 5p0x;
    margin: 3px;
}
#logotext{
    /* border: 2px solid rgb(82, 123, 168); */
    color: rgb(14, 13, 13);
    padding: 8px;
    font-size: 25px;;
}
.nav{
    padding: 0px;
    display: none;
    justify-content: space-between;
    align-items: center;
    display: none;
}
@media  screen and (min-width:668px) {
    .nav{
        display: flex;
    }
    
}
.nav-link{
    color:#05010d;
    padding: 5px;
    transform: color 0.2s;
}
.nav-link:hover{
    scale: 1.03;
    color: #8c60d4
}
.contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 1.6rem;
    color: white;
    background-color: #8c60d4;
    border-radius: 5px;
}
.contact-button:hover{
    scale: 1.04;
    background-color: #031825eb;
    color: white;
}
.contentbg{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 22rem;
    display: flex;
    justify-content: center;
}
.content1{
    background-color:white;
    width: 89%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
@media  screen and (max-width:668px) {


   .body{
    flex-direction: column;        /*  W W    o o o   W W   */
   }
  .content1{
        height: 1000px;
        /* display: flex; */
        flex-direction: column;
        /* column-gap: 30px; */
        /* justify-content: center; */
    }
    
    .rightbox{
        width: 40%;
        height: 30%;
        display: flex;
        justify-content: center;
    }
    #head1{
        display: flex;
        justify-content: center;
    }
    .optionbox{
        /* display: flex; */
        /* justify-content: center; */
    }
}
.leftbox{
    background-image: url(adidasred.jpg);
    background-attachment:fixed;
    padding-top: 20px;
    margin-left: 10px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 55%;
    height: 88%;
    border-radius: 5px;
    text-align: left;
    color: white;
}

.rightbox{
    margin-right: 10px;
    padding-right: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 46%;
    height: 88%;

}
   #advertisement{
   margin-left:  30px;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0.5px 0.5px 6px 1px black;
}
#head1{ 
    background-color: rgba(255, 255, 255, 0); 
    color: rgba(255, 204, 0, 0.977);
    font-family: cursive;
    font-weight: bold;
     font-size: 15px;
     width: 51%;
     height: 20px;
       
    }

.optionbox{
    font-size: 13px;
    width: 54%;
    height: 25px;
    background-color: rgb(254, 254, 254);
    display:flex ;
   justify-content: center; 
  gap: 35px;
     
}
.startnow:hover{
    transition: 0.5 ;
    background-color:  rgb(74, 28, 108);
    color: rgb(241, 241, 241);
    scale: 1.1;
}
.taketour:hover{
    transition: 0.6 ;
    background-color: rgba(42, 40, 40, 0.755) ;
    color: rgb(241, 241, 241);
    scale: 1.1;
}

.startnow , .taketour{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
   
    background-color: #8c60d4;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px  rgba(68, 66, 66, 0.048); 
}
.taketour{
    background-color:rgb(50, 48, 48) ;
}
#trusted{
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-weight: 550;
    font-size: 1.5rem;
}
.company-container{
    display: flex;
    
    justify-content: center;
}
.company-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #504e4ec0;
    background-color: #edebeb;
    border-radius: 5px;
}
.company-item{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.com-logo{
 width: 1.6rem;
 height: 1.6rem;
}
@media  screen and(max-width:640px) {
    .company-grid{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    }
    .company-container{
        flex-direction: column;
    }
}
.containertext-centermt-5ypy-3:hover{
color: #ff5e14;

}    

#button{
color: white;
background-color:#8c60d4;
box-shadow: 1px 2px 20px black;
}
#button:hover{
transition: 1.3s all 0s;
scale: 1.15;
background-color: #061e37;
color: white;
}
.footer-section {
background: #1d1d1d;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 20px;
float: left;
margin-top: 5px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
max-width: 140px;
max-height:100px;
border-radius: 5px;
box-shadow: 2px 2px 10px rgba(248, 248, 250, 0.863) ;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
  color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 10px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
border-radius: 10px;
}
.subscribe-form button {
position: absolute;
right: 0;
background: #ff5e14;
padding: 9px 20px;
border: 1px solid #ff5e14;
top: 0;
border-radius: 10px;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #090909;
padding: 15px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
#fashion .product img{
width: 100%;
height: 70%;
background-position: center center;
background-size: cover;
position: relative;
border-radius: 5px;
box-shadow: 5px 5px 10px rgba(42, 71, 82, 0.6);
}
.product{
cursor: pointer;
margin-bottom: 2rem;
margin-top: 1rem;
}
.product img{
transition:0.3s ease;
opacity: 0.8;
}
.product:hover img{
transform: scale(1.1);
opacity: 1;
}
.product .buy-button{
background-color: rgb(255, 130, 63) ;
color: aliceblue;
transition: 0.3s ease;
transform: translateY(20px);
opacity: 0;
}

.product:hover .buy-button{
transform: translateY(0px);
opacity: 1;
}

#banner{
background-image: url("palace.jpg");
width: 100%;
height: 70vh;
background-size: cover;
background-position: top 70px center;
display: flex;
background-repeat: no-repeat;
background-attachment: fixed;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
#banner h1{
color: aliceblue;
}
#banner h4{
color:rgb(228, 104, 37) ;
}
#clothes .product img{
opacity: 1;
transform: scale(1);
box-shadow: 5px 5px 10px rgba(42, 71, 82, 0.6);
}

#clothes .product:hover img{
transform: scale(1.1);
opacity: 1;
}
